body{
  background: lightblue;
}
.styleForButton{
  font-family: brush script mt;
}
.top{
  display:grid;
  grid-template-columns:  150px 5fr 150px;
  border-bottom: 1px solid black;
}
.logout{
  border:lightblue;
  background-color: lightblue;
}
.time{
  margin-top:-8px;
  background: lightblue;
  font-size: 1em;
  padding-top: 2px;
  text-align:right;
}
.styleForNamePage{

  font-family: matura mt script capitals;
  background: blue;
}
.choiceClauseMenu{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  text-align:center;
}
.search{
  text-align:center;
  margin:2px;
  margin-right:15%
}
.menuClass{
    margin-right:30px;
    margin-left:40px
}
.strInput{
  width:800px;
  height:20px;
}
.imageBox{
  margin-bottom:-10px
}
.navlink{

}
.w{

}
