.im{
  width:180px;
}
.int{
      border: 1px solid #E0FFFF; /* Параметры границы */
      padding: 2px;
}
.average{
  width:auto;

}
.t{
  text-align: left;
  margin-left: 5px;
}
.b{

  float:right;
  margin-right: 7px;
  margin-bottom:4px;
}
